@model Cajerojuly.Models.Cajero
@{
    ViewBag.Title = "Correcto";
}

<h2>Correcto</h2>
<div class="alert alert-success" role="alert">
    <h4 Class="alert-heading">Correcto</h4>
    <p>Cantidad correcta, Ya puede tomar la cantidad deseada a retirar</p>
    <hr>
</div>
