@model Cajerojuly.Models.Cajero
@{
    ViewBag.Title = "Errorr";
}

<h2>Errorr</h2>
<div class="alert alert-Danger" role="Alert">
    <h4 class="alert-heading">Errorr</h4>
    <p>La cantidad ingresada es incorrecta, Por favor ingrese un valor que si sea correcto</p>
    <hr>
</div>